<!-- <app-home></app-home> -->

<app-a></app-a>
<app-b1></app-b1>

<!-- <app-joke></app-joke> -->

<!-- <app-user-profile
  *ngFor="let user of users"
  [userName]="user.name"
  [isStatus]="user.isSingle"
  [userSalary]="user.salary"
  (myEvent)=receivedData($event)
></app-user-profile>

<button (click)="onClear()"> Delete Data</button> -->

<!-- <app-user-profile userName="Sajesh" isStatus="true" userSalary="7000" ></app-user-profile>

<app-user-profile userName="Pajesh" isStatus="false" userSalary="10000" ></app-user-profile> -->
